﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    @Html.Label("NIP/KRS/REGON", htmlAttributes: new { @class = "labelmargin" })
    <br />
    <input type="text" id="txtNumerNipKrsRegon" class="largeTextbox" />
    <p>
        <input type="submit" value="Pobierz dane" id="btnPobierzDane" class="btnPobierDane" />
    </p>

    @Html.Label("Nazwa", htmlAttributes: new { id = "lbnazwa", @class = "labelmargin" })
    <br />
    <input type="text" id="txtNazwa" class="largeTextbox" />
    <br />
    @Html.Label("Ulica", htmlAttributes: new { id = "lbulica", @class = "labelmargin" })
    @Html.Label("Numer", htmlAttributes: new { id = "lbnumer", @class = "labelnumer" })
    <br />
    <input type="text" id="txtUlica" class="ulica" />
    <input type="text" id="txtNumer" class="numer" />
    <br />
    @Html.Label("Kod pocztowy", htmlAttributes: new { id = "lbkodpocztowy", @class = "labelmargin" })
    @Html.Label("Miasto", htmlAttributes: new { id = "lbmiasto", @class = "labelmiasto" })
    <br />
    <input type="text" id="txtKodPocztowy" class="kodpocztowy" />
    <input type="text" id="txtMiasto" class="miasto" />
    <br />
    @Html.Label("Nie znaleziono danych!", htmlAttributes: new { id = "lberror", @class = "labelerror" })
</body>
</html>

@section Scripts{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#lberror').hide();
            $('#txtNazwa').hide();
            $('#txtUlica').hide();
            $('#txtNumer').hide();
            $('#txtKodPocztowy').hide();
            $('#txtMiasto').hide();
            $('#lbnazwa').hide();
            $('#lbulica').hide();
            $('#lbnumer').hide();
            $('#lbkodpocztowy').hide();
            $('#lbmiasto').hide();

        });

        $('#btnPobierzDane').click(function () {
            $('#lbnazwa').show();
            $('#lbulica').show();
            $('#lbnumer').show();
            $('#lbkodpocztowy').show();
            $('#lbmiasto').show();
            $('#txtNazwa').val('').show();
            $('#txtUlica').val('').show();
            $('#txtNumer').val('').show();
            $('#txtKodPocztowy').val('').show();
            $('#txtMiasto').val('').show();
            $('#lberror').hide();

            $.ajax({
                url: "@Url.Action("GetData", "Home")",
                data: { prefix: $('#txtNumerNipKrsRegon').val()},
                type: "GET",
                dataType: "json",
                success: function (data) {
                        $('#txtNazwa').val(data.Nazwa);
                        $('#txtUlica').val(data.Ulica);
                        $('#txtNumer').val(data.Numer);
                        $('#txtKodPocztowy').val(data.KodPocztowy);
                        $('#txtMiasto').val(data.Miasto);
                },
                error: function () {
                    $('#lberror').show();
                }
            });
        });
    </script>
}