﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.largeTextbox {
    width: 350px;
}

.ulica {
    width: 250px;
}

.numer {
    width: 90px;
    margin-left: 7px;
}

.kodpocztowy {
    width: 110px;
}

.miasto {
    width: 230px;
    margin-left: 7px;
}

.btnPobierDane {
    background-color: #4CAF50;
    padding: 14px 40px;
    border-radius: 8px;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #f44336;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

    .btnPobierDane:hover {
        background-color: #008CBA;
        color: white;
    }

.labelmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelnumer {
    margin-left: 225px;
}

.labelmiasto {
    margin-left: 25px;
}

.labelerror {
    color: #ff0000;
    display: none;
    margin-top: 10px;
    margin-left: 90px;
}

